body                    {font-family: arial, sans-serif}
nav.navbar              {font-weight: bold;
                         color:white;
                         border: 2px solid greenyellow;
                         text-align: center;
                         width: 10em;
                         background-color: greenyellow;}
nav.navbar ul           {display: none;
                         list-style: none;
                         margin: 0;
                         padding: 0;}
nav.navbar:hover ul     {display: block}
nav.navbar ul li        {border-top: 2px solid greenyellow;
                         background-color: white;
                         width: 10em;
                         color: black}
nav.navbar ul li:hover  {background-color: PowderBlue}
a                       {text-decoration: none;}